.page {
  background: linear-gradient(rgba(196, 234, 239, 0.95), rgba(255, 255, 255, 0.98));
  display: grid;
  place-items: center; 
}

.container {
  width: 80%;
  margin: 0px auto;
  max-width: 1000px !important;
}

.img_header {
  margin: 0px auto 20px;
  border-radius: 10px;
}

.property_gr {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 15px;
  margin-top: 15px;
}

.property {
  /* display: flex;
  gap: 15px; */
  margin-bottom: unset !important;
}
.property_value {
  font-size: 18px !important;
}

.input_property {
  width: 20% !important;
}

.form_style {
  margin-bottom: 100px;
}

.form_item {
  margin: 15px 0 !important;
}

.label_item {
  font-size: 16px;
  margin-bottom: 15px !important;
  font-weight: 600;
}

.btn {
  background-color: #13BED8 !important;
  border-radius: 100px !important;
  color: #fff !important;
  margin-bottom: 60px;
  margin-top: 25px;
}
.btn:hover {
  background-color: #067DB2 !important;
  color: #fff !important;
}

.slider_style {
 margin: 55px 90px 18px !important;

}

.img_gr {
  display: flex ;
  align-items: center;
  flex: 1 1;
  gap: 10px;
  margin-top: 15px;
}

.img{
  height: 350px!important ;
  width: 495px !important;
}

.note_not_img {
  color: red;
  font-size: 16px;
  text-align: center;
  font-weight: bold;
  border: 1px solid #000;
  height: 350px;
  width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #fff;
  padding: 10px;
}

.select_style {
  margin: 15px 0px !important;
}
@media (max-width: 1200px) {
  .img{
    height: 250px!important ;
    width: auto !important;
  }

}
@media (max-width: 768px) {
  .container {
    width: 90%;
    
  }
  .img_gr {
    flex-direction: column;
  }
  .img{
    height: auto ;
    width: 100%;
  }
  .note_not_img {
    height: 200px;
    width: 100%;
  }
}